.btn,
button,
.submit-btn,
.ai-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}
.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.update-btn {
  background: #1e9e33;
  color: white;
}

.update-btn:hover {
  background-color: #054f09;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.delete-btn  {
  background: #e53e3e !important;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #b70e27 !important;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
button.delete-btn:hover {
  background: #ab0b23 !important;
}
button.update-btn:hover {
  background: #176d0c;
}

.btn {
  background-color: #4CAF50;
  color: white;
}

.btn:hover,
button:hover {
  background-color: #45a049;
}

.submit-btn {
  background-color: #13b52e;
  color: white;
}

.submit-btn:hover {
  background-color: #069335;
}

.ai-btn {
  background-color: #3f85da;
  border: 1px solid #ccc;
  padding: 6px 12px;
}

.ai-btn:hover {
  background-color: #2c6fc2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.ai-btn:disabled,
.ai-btn:disabled:hover {
  background-color: #edf2f7;      /* Svetlejša barva besedila */
  cursor: not-allowed;      /* Kazalec, ki označuje, da akcija ni dovoljena */
  box-shadow: none;         /* Odstrani senco ob hoverju */
}
.actions-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.actions-container:hover {
  background-color: #267640;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.update-btn {
  background: #1e9e33;
  color: white;
}

.update-btn:hover {
  background-color: #054f09;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background: #e53e3e;
  color: white;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #b70e27;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
button.delete-btn:hover {
  background: #ab0b23;
}
button.update-btn:hover {
  background: #176d0c;
}


